<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>写文章</title>
    <link href="/lib/fex-webuploader/dist/webuploader.css" rel="stylesheet" />
</head>
<body>
    <validator id="article-form" name="validation">
        <div style="text-align: center">
            <p>
                标题: <input type="text" name="article.title" v-validate:title="['required']" />
            </p>
            <p>
                标签: <input type="text" placeholder="使用空格进行分割" name="article.tags" v-validate:tag="['required']" />
            </p>
            <p>
                摘要: <textarea name="article.description"></textarea>
            </p>
            <div v-if="!article.contentUrl">
                <div id="uploader" class="wu-example">
                    <!--用来存放文件信息-->
                    <div id="thelist" class="uploader-list"></div>
                    <div class="btns">
                        <div id="picker">选择文件</div>
                    </div>
                </div>
            </div>
            <div v-else>
                <a href="{{article.contentUrl}}" target="_blank" v-validate:contentUrl="['required']">查看文件</a>
            </div>
            <p>
                <input type="button" value="提交" />
            </p>
            <div>
                <p v-if="$validation.title.required">请输入合法的标题</p>
                <p v-if="$validation.tags.required">请输入合法的标签</p>
                <p v-if="$validation.contentUrl.required">文章转换失败</p>
            </div>
        </div>
    </validator>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/fex-webuploader/dist/webuploader.js"></script>
    <script src="../lib/vue/dist/vue.js"></script>
    <script src="../lib/vue-validator/dist/vue-validator.js"></script>
    <!--vue logic-->
    <script>
        var v = new Vue({
            el: "#article-form",
            data: {
                article: {
                    title: "",
                    tags: "",
                    contentUrl: ""   // 这里写上这个初始化的原因是: vue中只有这些被代理的属性是响应的。如果在实例创建之后添加新的属性到实例上，它不会触发视图更新
                }
            },
            methods: {}
        });
    </script>
    <!--web uploader logic-->
    <script>
        function init() {
            var uploader = WebUploader.create({
                // 选完文件是否自动上传
                auto: true,
                // swf文件路径
                swf: "/lib/fex-webuploader/dist/Uploader.swf",
                // 文件接收服务端。
                server: "/api/article/contentUrl",
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',
                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                // 文件类型筛选
                accept: {
                    title: 'Word',
                    extensions: 'doc,docx',
                    mimeTypes: 'application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                }
            });

            uploader.on('uploadAccept', function (object, ret) {
                if (ret.status === "ok") {
                    v.article.contentUrl = ret.data;
                } else {
                    alert("转换失败");
                    window.location.reload();
                }
            });
        }
        $(init);
    </script>
</body>
</html>